footer {
    border-top: 2px solid #E0BA65;
  }
  
  a {
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #E0BA65;
  }
  
  img {
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease-in-out;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  